<div id="contact" v-cloak>
    <!-- ========Feature-Section Starts Here ========-->
<section class="page-header">
    <div class="elepsis header-trop">
        <img src="/images/elepsis.png" alt="profit">
    </div>
    <div class="circle-2 header-trop" data-paroller-factor="-0.30" data-paroller-factor-lg="0.60"
         data-paroller-type="foreground" data-paroller-direction="horizontal">
        <img src="/images/05.png" alt="shape">
    </div>
    <div class="circle-3 header-trop" data-paroller-factor="0.10" data-paroller-factor-lg="-0.30"
         data-paroller-type="foreground" data-paroller-direction="horizontal">
        <img src="/images/08.png" alt="shape">
    </div>
    <div class="star-4 header-trop">
        <img src="/images/07.png" alt="shape">
    </div>
    <div class="star-4 two header-trop">
        <img src="/images/07.png" alt="shape">
    </div>
    <div class="star-5 header-trop">
        <img src="/images/07.png" alt="shape">
    </div>
    <div class="circle-1 two header-trop">
        <img src="/images/10.png" alt="shape">
    </div>
    <div class="trop-4 header-trop">
        <img src="/images/14.png" alt="animation">
    </div>
    <div class="trop-3 header-trop">
        <img src="/images/13.png" alt="animation">
    </div>
    <div class="circle-1 three header-trop">
        <img src="/images/12.png" alt="animation">
    </div>
    <div class="circle-2 header-trop" data-paroller-factor="-0.30" data-paroller-factor-lg="0.60"
         data-paroller-type="foreground" data-paroller-direction="horizontal">
        <img src="/images/05.png" alt="shape">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-header-content">
                    <h2 class="title">Contact Us</h2>
                    <ul class="breadcrumb">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            Contact Us
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="page-header-thumb wow slideInDown">
                    <img src="/images/page-header-01.png" alt="page-header">
                    <div class="coin wow bounceInDown" data-wow-delay=".5s">
                        <img src="/images/coin.png" alt="page-header">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========Feature-Section Eventes Here ========-->

  <section class="contact-section padding-bottom padding-top">
    <div class="container">
    <div class="row">
      <div class="col-lg-6 d-none d-lg-block">
        <div class="contact-thumb">
          <img
            src="/images/contact01.png"
            alt="faq"
          />
          <div class="mes1 wow slideInLeft">
            <img
              src="/images/mes1.png"
              alt="faq"
            />
          </div>
          <div class="mes2 wow slideInDown">
            <img
              src="/images/mes2.png"
              alt="faq"
            />
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-5">
        <h1 class="text-center">Get in touch</h1>
        <div style="max-width: 650px" class="mx-auto" v-if="!cloudSuccess">
          <p class="text-center">
            Have a question for us? Maybe some feedback? We love talking to
            users about NEW_APP_NAME, and we're happy to answer questions about
            our pricing, roadmap, or business solutions. Send us a note and
            we'll get back to you as soon as possible.
          </p>
          <hr />
          <ajax-form
            action="deliverContactFormMessage"
            :form-errors.sync="formErrors"
            :form-data="formData"
            :form-rules="formRules"
            :syncing.sync="syncing"
            :cloud-error.sync="cloudError"
            @submitted="submittedForm()"
          >
            <div class="form-group">
              <label for="full-name">Name</label>
              <input
                class="form-control"
                id="full-name"
                name="full-name"
                type="text"
                :class="[formErrors.fullName ? 'is-invalid' : '']"
                v-model.trim="formData.fullName"
                placeholder="Sturgis P. Sturgeon"
                autocomplete="name"
                focus-first
              />
              <div class="invalid-feedback" v-if="formErrors.fullName">
                Please let us know what to call you.
              </div>
            </div>
            <div class="form-group">
              <label for="email-address">Email address</label>
              <input
                class="form-control"
                id="email-address"
                name="email-address"
                type="email"
                :class="[formErrors.emailAddress ? 'is-invalid' : '']"
                v-model.trim="formData.emailAddress"
                placeholder="sturgeon@example.com"
                autocomplete="email"
              />
              <div class="invalid-feedback" v-if="formErrors.emailAddress">
                Please enter a valid email address.
              </div>
            </div>
            <div class="form-group">
              <label for="topic">Topic</label>
              <input
                class="form-control"
                id="topic"
                name="topic"
                type="text"
                :class="[formErrors.topic ? 'is-invalid' : '']"
                v-model.trim="formData.topic"
                placeholder="Pricing question"
                autocomplete="none"
              />
              <div class="invalid-feedback" v-if="formErrors.topic">
                Please choose a topic for your message.
              </div>
            </div>
            <div class="form-group">
              <label for="message">Message</label>
              <textarea
                class="form-control"
                id="message"
                name="message"
                :class="[formErrors.message ? 'is-invalid' : '']"
                v-model.trim="formData.message"
                placeholder='What is the difference between the "Individual" plan and the "Professional" plan?'
                autocomplete="none"
              ></textarea>
              <div class="invalid-feedback" v-if="formErrors.message">
                Message cannot be empty.
              </div>
            </div>
            <cloud-error v-if="cloudError"></cloud-error>
            <div class="form-group">
              <ajax-button
                type="submit"
                :syncing="syncing"
                class="btn btn-dark btn-lg btn-block"
                >Send message</ajax-button
              >
            </div>
          </ajax-form>
        </div>
        <div style="max-width: 450px" class="mx-auto text-center" v-else>
          <p class="text-center">Thanks for reaching out!</p>
          <hr />
          <p>
            We have received your message, and someone from our team will get
            back to you soon.
          </p>
        </div>
      </div>
    </div>
  </section>
    <!-- ========Contact-Section Stars Here ========-->
    <div class="map-section padding-bottom">
      <div class="container mw-lg-100 p-lg-0">
          <div class="overview-area">
              <div class="overview-left">
                  <div class="address-area">
                      <div class="addr-item">
                          <div class="thumb">
                              <img src="assets/templates/minimul/images/contact/addr1.png" alt="contact">
                          </div>
                          <div class="content">
                              <h6 class="title">Office Address</h6>
                              <ul>
                                  <li>
                                      3rd Floor, 20 Grosvenor Pl, Belgravia, London SW1X 7HN                                    </li>
                              </ul>
                          </div>
                      </div>
                      <div class="addr-item">
                          <div class="thumb">
                              <img src="assets/templates/minimul/images/contact/addr2.png" alt="contact">
                          </div>
                          <div class="content">
                              <h6 class="title">Email Address</h6>
                              <ul>
                                  <li>
                                      info@nolimitinvestment.site                                    </li>
                              </ul>
                          </div>
                      </div>
                      <div class="addr-item">
                          <div class="thumb">
                              <img src="assets/templates/minimul/images/contact/addr3.png" alt="contact">
                          </div>
                          <div class="content">
                              <h6 class="title">Contact Number</h6>
                              <ul>
                                  <li>+44 7537169920                                    </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="maps" id="data-maps" data-latitude="23.8715532" data-longitude="90.3793906"></div>
          </div>
      </div>
  </div>
  <!-- ========Contact-Section Ends Here ========-->

</div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
