<header class="header">
  <div class="header-top">
    <div class="container">
      <div class="header-top-area">
        <div class="left-side d-none d-sm-flex">
          <ul class="social">
            <li>
              <a href="index.html#" target="_blank" title="Skypee"
                ><i class="fab fa-skype"></i
              ></a>
              <a href="index.html#" target="_blank" title="Linkedin"
                ><i class="fab fa-linkedin-in"></i
              ></a>
              <a href="index.html#" target="_blank" title="Youtbe"
                ><i class="fab fa-youtube"></i
              ></a>
              <a href="index.html#" target="_blank" title="Facebok"
                ><i class="fab fa-facebook"></i
              ></a>
            </li>
          </ul>
          <p class="mail">
            <i class="far fa-envelope"></i>info@nolimitinvestment.site
          </p>
        </div>
        <div class="right-side">
          <div class="account">
            <a href="user/login.html" class="text-white">
              <i class="fas fa-user"></i>Login
            </a>
          </div>
          <div class="ml-3 mr-2 mt-1" id="google_translate_element"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-bottom">
    <div class="container">
      <div class="header-area">
        <div class="logo">
          <a href="index.html">
            <img src="/images/logoIcon/logo.png" alt="image" />
          </a>
        </div>
        <ul class="menu">
          <li><a href="index.html">Home</a></li>
          <li><a href="plan.html">Investment Plans</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="contact.html">Contact Us</a></li>

          <li>
            <a href="user/register.html" class="header-button bg-3"
              >Invest With Us</a
            >
          </li>
        </ul>
        <div class="header-bar d-lg-none">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- ========Banner-Section Starts Here ========-->
<section class="banner-section">
  <div class="banner-shape02"></div>
  <div class="banner-shape03"></div>
  <div class="banner-shape01">
    <img src="/images/frontend/animation/banner-shape.png" alt="banner" />
  </div>
  <div
    class="circle-2"
    data-paroller-factor="-0.30"
    data-paroller-factor-lg="0.60"
    data-paroller-type="foreground"
    data-paroller-direction="horizontal"
  >
    <img src="/images/frontend/animation/05.png" alt="shape" />
  </div>
  <div
    class="circle-2 three"
    data-paroller-factor="-0.30"
    data-paroller-factor-lg="0.60"
    data-paroller-type="foreground"
    data-paroller-direction="horizontal"
  >
    <img src="/images/frontend/animation/11.png" alt="shape" />
  </div>

  <div
    class="circle-2 five"
    data-paroller-factor="-0.30"
    data-paroller-factor-lg="0.60"
    data-paroller-type="foreground"
    data-paroller-direction="horizontal"
  >
    <img src="/images/frontend/animation/15.png" alt="shape" />
  </div>

  <div class="container">
    <div class="banner-area align-items-center">
      <div class="banner-content">
        <h1 class="title">The smarter way to save - INVEST</h1>
        <p class="text-white">
          No Limit Investment LLC is a profit based company that acquires risk
          free in crypto market, real estate, agriculture, and renewable energy.
        </p>
        <a href="user/register.html" class="custom-button bg-1">GET STARTED</a>
      </div>
      <div class="banner-content" style="display: none">
        <img style="width: 100%" src="/images/logoIcon/logo.png" />
      </div>
      <div class="banner-thumb d-none d-md-block">
        <div class="thumb">
          <img src="/images/frontend/banner.png" alt="..." />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ========Banner-Section Ends Here ========-->

<!-- ========Investment-Section Starts Here ========-->
<section class="investment-section padding pos-rel">
  <div class="star-4">
    <img src="/images/frontend/animation/07.png" alt="shape" />
  </div>
  <div class="star-4 three">
    <img src="/images/frontend/animation/07.png" alt="shape" />
  </div>
  <div class="star-4 four">
    <img src="/images/frontend/animation/07.png" alt="shape" />
  </div>
  <div class="star-4 five">
    <img src="/images/frontend/animation/07.png" alt="shape" />
  </div>
  <div class="star-4 six">
    <img src="/images/frontend/animation/07.png" alt="shape" />
  </div>
  <div class="star-4 seven">
    <img src="/images/frontend/animation/07.png" alt="shape" />
  </div>
  <div class="star-4 eight">
    <img src="/images/frontend/animation/07.png" alt="shape" />
  </div>

  <div class="container pt-5">
    <div class="d-flex flex-wrap align-items-center">
      <div class="invest--area">
        <div class="row col-12 mb-5">
          <img
            class="thumb rounded img-responsive"
            style="height: auto; width: 100%"
            src="/images/frontend/banner_ad.gif"
          />
        </div>
        <div class="row">
          <div class="col-12 pr-lg-5">
            <div class="section-header">
              <h3 class="title">Our Statistics</h3>
              <p class="ml-0">
                We are a world leading investment platform actively promoting
                the importance of transparency, statistics and data.
              </p>
            </div>
          </div>
          <div class="col-12">
            <div class="investment-area mb-4">
              <div class="investment-item counter-item2 two">
                <div class="investment-thumb">
                  <i class="fas fa-wallet"></i>
                </div>
                <div class="investment-content">
                  <h4 class="odo-title">£</h4>
                  <h4 class="odometer" data-odometer-final="7865350">
                    7,865,350
                  </h4>
                  <p>Total Invested</p>
                </div>
              </div>
              <div class="investment-item counter-item2">
                <div class="investment-thumb">
                  <i class="fas fa-university"></i>
                </div>
                <div class="investment-content">
                  <h4 class="odo-title">£</h4>
                  <h4 class="odometer" data-odometer-final="6440000">
                    6,440,000
                  </h4>
                  <p>Total Withdrawn</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ========Investment-Section Ends Here ========-->

<!-- ========Client-Section Ends Here ========-->
<section class="padding feature-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <div class="section-header">
          <h2 class="title">Why Invest With Us?</h2>
          <p>
            We help your money grow by putting it to work. Our team of traders
            and investors ensure not only that your funds are at work, but are
            put in carefully planned investments and trades.
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mb-30-none">
      <div class="col-md-6 col-sm-10 col-xl-4">
        <div class="section-feature-item">
          <div class="feature-thumb">
            <i class="fas fa-globe-africa"></i>
          </div>
          <div class="feature-content">
            <h5 class="title">Global</h5>
            <p>
              No restrictions, we are available in every country worldwide.
              Anyone can invest and profit from our system, your return on
              investment is guaranteed.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-10 col-xl-4">
        <div class="section-feature-item">
          <div class="feature-thumb">
            <i class="fab fa-bitcoin"></i>
          </div>
          <div class="feature-content">
            <h5 class="title">Crypto</h5>
            <p>
              Join the league of world renowned billionaires who are investing
              into cryptos and making easy hourly profits from market gains.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-10 col-xl-4">
        <div class="section-feature-item">
          <div class="feature-thumb">
            <i class="fas fa-star-of-david"></i>
          </div>
          <div class="feature-content">
            <h5 class="title">Convenience</h5>
            <p>
              We do all the work for you. From setting up your wallet to ongoing
              managemnt of your investment portfolio.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-10 col-xl-4">
        <div class="section-feature-item">
          <div class="feature-thumb">
            <i class="far fa-file"></i>
          </div>
          <div class="feature-content">
            <h5 class="title">Certified</h5>
            <p>
              We are incoporated under the Companies Act 2006 as a private
              company, limited by shares, and headquatered in the United
              Kingdom.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-10 col-xl-4">
        <div class="section-feature-item">
          <div class="feature-thumb">
            <i class="fas fa-lock"></i>
          </div>
          <div class="feature-content">
            <h5 class="title">Secure</h5>
            <p>
              Your security and trust are important to us. We&#039;re committed
              to protecting your account with the highest standards of security
              available.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-10 col-xl-4">
        <div class="section-feature-item">
          <div class="feature-thumb">
            <i class="fas fa-wallet"></i>
          </div>
          <div class="feature-content">
            <h5 class="title">Profitable</h5>
            <p>
              Over £82 Million paid out and counting - More than 7,000 people
              have benefited from investing with us globally
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br />
<br />
<!-- ========Feature-Section Starts Here ========-->
<section class="get-profit-section padding pos-rel darkmode">
  <div
    class="circle-2"
    data-paroller-factor="-0.30"
    data-paroller-factor-lg="0.60"
    data-paroller-type="foreground"
    data-paroller-direction="horizontal"
  >
    <img src="/images/frontend/animation/05.png" alt="shape" />
  </div>
  <div class="left-shape01 right">
    <img
      src="/images/frontend/animation/right-shape-1.png"
      alt="shape"
      class="wow slideInRight"
    />
  </div>
  <div
    class="circle-2 four"
    data-paroller-factor="-0.1"
    data-paroller-factor-lg="0.30"
    data-paroller-type="foreground"
    data-paroller-direction="horizontal"
  >
    <img src="/images/frontend/animation/11.png" alt="shape" />
  </div>
  <div class="circle-1 three">
    <img src="/images/frontend/animation/12.png" alt="animation" />
  </div>
  <div class="trop-3">
    <img src="/images/frontend/animation/13.png" alt="animation" />
  </div>
  <div class="trop-4">
    <img src="/images/frontend/animation/14.png" alt="animation" />
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="section-header">
          <h2 class="title pt-5">How To Invest With Bitcoin</h2>
          <p>
            Become a part of the bitcoin revolution, grow your money and start
            living your dream life, it is essential.
          </p>
        </div>
      </div>
    </div>
    <div class="get-profit">
      <div class="item">
        <div class="item-thumb">
          <i class="fas fa-id-card"></i>
        </div>
        <h5 class="subtitle">Create Account</h5>
      </div>
      <div class="item">
        <div class="item-thumb">
          <i class="fas fa-align-justify"></i>
        </div>
        <h5 class="subtitle">Choose Plan</h5>
      </div>
      <div class="item">
        <div class="item-thumb">
          <i class="fab fa-autoprefixer"></i>
        </div>
        <h5 class="subtitle">Invest Now</h5>
      </div>
      <div class="item">
        <div class="item-thumb">
          <i class="fas fa-wallet"></i>
        </div>
        <h5 class="subtitle">Get Profit</h5>
      </div>
      <div class="thumb d-none d-lg-block">
        <img
          src="/images/frontend/profit/5e27feeed243f1579679470.png"
          alt="profit"
        />
      </div>
    </div>
  </div>
</section>

<!-- ========Feature-Section Ends Here ========-->
<!-- ========Ticket-Section Starts Here ========-->
<section class="ticket-section c-shape-wrapper padding">
  <div
    class="c-shape01"
    data-paroller-factor="-0.30"
    data-paroller-factor-lg="0.60"
    data-paroller-type="foreground"
    data-paroller-direction="horizontal"
  >
    <img src="/images/frontend/animation/circle01.png" alt="shapes" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-header">
          <h2 class="title pt-5">Investment Plans</h2>
          <p>
            Grow your money on autopilot by investing in a plan that is designed
            to meet your financial goals.
          </p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center mb-30-none">
      <div class="col-md-6 col-lg-4">
        <div class="ticket-item bg-1">
          <h3 class="title">Business</h3>
          <h6 class="sub-title">10 %</h6>
          <ul>
            <li>Daily / 29 Times</li>

            <li>
              <span class="badge badge-success">Capital Will Return Back</span>
            </li>
            <li>24/7Support</li>

            <li class="plan_min">Min. £10000 <span>Max: £1000000</span></li>
          </ul>
          <a
            href="javascript:void(0)"
            data-toggle="modal"
            data-target="#depoModal"
            data-resource='{"id":3,"name":"Business","minimum":"10000","maximum":"1000000","fixed_amount":"0","interest":"10","interest_status":"1","times":"24","status":"1","featured":"1","capital_back_status":"1","lifetime_status":"0","repeat_time":"29","created_at":"2020-03-14 19:06:07","updated_at":"2020-03-14 19:13:13"}'
            class="custom-button custom-button-color investButton"
            >Invest Now</a
          >
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="ticket-item bg-2">
          <h3 class="title">Premium</h3>
          <h6 class="sub-title">8 %</h6>
          <ul>
            <li>Daily / 14 Times</li>

            <li>
              <span class="badge badge-success">Capital Will Return Back</span>
            </li>
            <li>24/7Support</li>

            <li class="plan_min">Min. £5000 <span>Max: £10000</span></li>
          </ul>
          <a
            href="javascript:void(0)"
            data-toggle="modal"
            data-target="#depoModal"
            data-resource='{"id":2,"name":"Premium","minimum":"5000","maximum":"10000","fixed_amount":"0","interest":"8","interest_status":"1","times":"24","status":"1","featured":"1","capital_back_status":"1","lifetime_status":"0","repeat_time":"14","created_at":"2020-03-14 19:03:36","updated_at":"2020-03-14 19:12:50"}'
            class="custom-button custom-button-color investButton"
            >Invest Now</a
          >
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="ticket-item bg-3">
          <h3 class="title">Standard</h3>
          <h6 class="sub-title">5 %</h6>
          <ul>
            <li>Daily / 7 Times</li>
            <li><span class="badge badge-warning">Capital Will Store</span></li>
            <li>24/7Support</li>

            <li class="plan_min">Min. £10 <span>Max: £5000</span></li>
          </ul>
          <a
            href="javascript:void(0)"
            data-toggle="modal"
            data-target="#depoModal"
            data-resource='{"id":1,"name":"Standard","minimum":"10","maximum":"5000","fixed_amount":"0","interest":"5","interest_status":"1","times":"24","status":"1","featured":"1","capital_back_status":"0","lifetime_status":"0","repeat_time":"7","created_at":"2020-03-14 18:59:08","updated_at":"2020-03-14 19:13:54"}'
            class="custom-button custom-button-color investButton"
            >Invest Now</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ========Ticket-Section Ends Here ========-->

<!-- ========Profit-Section Stars Here ========-->
<section
  class="profit-calc padding-top padding-bottom light-color bg_img"
  data-background="https://nolimitinvestment.site//images/frontend/profit_cal.png"
>
  <div class="shape"></div>
  <div
    class="circle-2"
    data-paroller-factor="-0.30"
    data-paroller-factor-lg="0.60"
    data-paroller-type="foreground"
    data-paroller-direction="horizontal"
  >
    <img src="/images/frontend/animation/08.png" alt="shape" />
  </div>
  <div
    class="circle-2 five"
    data-paroller-factor="-0.10"
    data-paroller-factor-lg="0.30"
    data-paroller-type="foreground"
    data-paroller-direction="horizontal"
  >
    <img src="/images/frontend/animation/05.png" alt="shape" />
  </div>
  <div class="elepsis">
    <img src="/images/frontend/footer/elepsis.png" alt="profit" />
  </div>
  <div class="man-coin">
    <img src="/images/frontend/footer/man-coin.png" alt="profit" />
  </div>
  <div class="coin-only">
    <img src="/images/frontend/footer/profit-coin.png" alt="profit" />
  </div>
  <div class="man-only">
    <img src="/images/frontend/footer/profit-man.png" alt="profit" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-header">
          <h2 class="title">Calculate Your Profit</h2>
          <p>
            Use this calculator to estimate your income based on your deposits.
          </p>
        </div>
      </div>
    </div>
    <form class="profit-form row justify-content-center">
      <div class="form-group col-sm-6 col-md-4 col-lg-3">
        <h6 class="profil-title">Plan</h6>
        <select class="select-bar" id="changePlan">
          <option value="">Choose Plan</option>
          <option value="3">Business</option>
          <option value="2">Premium</option>
          <option value="1">Standard</option>
        </select>
      </div>
      <div class="form-group col-sm-6 col-md-4 col-lg-3">
        <h6 class="profil-title">Invest Amount</h6>
        <input
          type="text"
          placeholder="0.00"
          class="invest-input"
          onkeyup="this.value = this.value.replace (/^\.|[^\d\.]/g, '')"
        />
      </div>
      <div class="form-group col-sm-6 col-md-4 col-lg-3">
        <h6 class="profil-title">Profit</h6>
        <input type="text" placeholder="0.00" class="profit-input" readonly />
        <code class="period"></code>
      </div>
    </form>
  </div>
</section>
<!-- ========Profit-Section Ends Here ========-->

<!-- ========Feature-Section Starts Here ========-->
<section class="feature-section padding darkmode">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="section-header">
          <h2 class="title pt-5">Secure Your Capital &amp; Make More Profit</h2>
          <p>
            We provide a simple way to grow your money like the world&#039;s
            most sophisticated investors. Our goal is simply to achieve a stable
            income for every investor on this platform.
          </p>
        </div>
      </div>
    </div>
    <div class="feature-wrapper">
      <div class="feature-area two">
        <div class="feature-item">
          <h5 class="subtitle">Stable Coin</h5>
          <p>
            Unlike other investment platforms, the market rate doesn&#039;t
            affect your profit with us. Your portfolio never drops in value, we
            always keep it green.
          </p>
        </div>
        <div class="feature-item">
          <h5 class="subtitle">Comodo SSL</h5>
          <p>
            Your security is our utmost concern. This platform is SSL certified
            to protect your data and information shared with us.
          </p>
        </div>
        <div class="feature-item">
          <h5 class="subtitle">Registered Company</h5>
          <p>
            We are a Netherlands based registered business looking to take some
            added risks and make a big splash in the lives of our investors.
          </p>
        </div>
      </div>
      <div class="feature-thumb pos-rel">
        <img
          src="/images/frontend/feature/5e28133aae42b1579684666.png"
          alt="feature"
        />

        <div class="coin-3">
          <img src="/images/frontend/feature/feature-coin.png" alt="footer" />
        </div>
        <div class="coin-3 two">
          <img src="/images/frontend/feature/feature-coin.png" alt="footer" />
        </div>
        <div class="coin-3 three">
          <img src="/images/frontend/feature/feature-coin.png" alt="footer" />
        </div>
        <div class="coin-4">
          <img src="/images/frontend/feature/feature-coin.png" alt="footer" />
        </div>
        <div class="coin-4 two">
          <img src="/images/frontend/feature/feature-coin.png" alt="footer" />
        </div>
        <div class="coin-4 three">
          <img src="/images/frontend/feature/feature-coin.png" alt="footer" />
        </div>
        <div class="coin-4 four">
          <img src="/images/frontend/feature/feature-coin.png" alt="footer" />
        </div>

        <div class="coin-3 bela two">
          <img src="/images/frontend/feature/feature-coin.png" alt="footer" />
        </div>
        <div class="coin-3 bela three">
          <img src="/images/frontend/feature/feature-coin.png" alt="footer" />
        </div>
        <div class="coin-4 bela">
          <img src="/images/frontend/feature/feature-coin.png" alt="footer" />
        </div>
        <div class="coin-4 bela two">
          <img src="/images/frontend/feature/feature-coin.png" alt="footer" />
        </div>
        <div class="coin-4 bela three">
          <img src="/images/frontend/feature/feature-coin.png" alt="footer" />
        </div>
        <div class="coin-4 bela four">
          <img src="/images/frontend/feature/feature-coin.png" alt="footer" />
        </div>
      </div>
      <div class="feature-area">
        <div class="feature-item">
          <h5 class="subtitle">Quick Withdrawal</h5>
          <p>
            We process all eligible withdrawals at the end of the day and credit
            accumulated profit instantly to your bitcoin wallet.
          </p>
        </div>
        <div class="feature-item">
          <h5 class="subtitle">Strong Protection</h5>
          <p>
            Your bitcoins and wallet are protected with our end-to-end
            encryption and firewall that can&#039;t be compromised ever.
          </p>
        </div>
        <div class="feature-item">
          <h5 class="subtitle">Multi-Language Support</h5>
          <p>
            No Limit means no boundaries. We offer chat support in any language,
            our website is also available in multi languages.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ========Feature-Section Ends Here ========-->
<!-- ========Call-In-Action-Section Starts Here ========-->
<section class="call-in-action bg-6 padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="call-wrapper">
          <div class="call-area">
            <h3 class="title">Invest With Us</h3>
            <p>Invest now and get your money to work, earning you more.</p>
            <a
              href="https://nolimitinvestment.site/register"
              class="custom-button bg-3"
              >Start Investing</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ========Call-In-Action-Section Ends Here ========-->
<!-- ========Faq-Section Starte Here ========-->
<section class="faq-section padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="section-header">
          <h2 class="title pt-5">Frequently Asked Questions</h2>
          <p>
            Here are quick answers for frequently asked questions to avoid
            waiting for your e-mail enquiry to be answered.
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center justify-content-lg-between">
      <div class="col-lg-12 col-xl-12">
        <div class="faq-wrapper style-two">
          <div class="faq-item open active">
            <h6 class="faq-title">
              What if I have a question that is not listed here?
            </h6>
            <div class="faq-content">
              <p>
                Our support is online 24/7 days of week. You can ask any
                questions through the live chat box on your screen. Support is
                available every day of the week.
              </p>
            </div>
          </div>

          <div class="faq-item">
            <h6 class="faq-title">Do you offer Referral Program?</h6>
            <div class="faq-content">
              <p>
                We offer 5% reward for deposits invested by referrals. Your
                individual referral link can be found in the Members Area when
                you login.<br />
              </p>
            </div>
          </div>

          <div class="faq-item">
            <h6 class="faq-title">
              Does my nationality or country of birth matter in participating in
              No Limit Investment?
            </h6>
            <div class="faq-content">
              <p>
                Your nationality or country of birth does not matter at all. We
                accept people from all around the world to become members of No
                Limit Investment, and take part in the investment opportunity we
                offer. However, you must be of legal age in your country to
                participate in our investment program.
              </p>
            </div>
          </div>

          <div class="faq-item">
            <h6 class="faq-title">
              Am I allowed to create more than one account for myself?
            </h6>
            <div class="faq-content">
              <p>
                You are, in no case, allowed to created multiple accounts or
                abuse our referral system.
              </p>
            </div>
          </div>

          <div class="faq-item">
            <h6 class="faq-title">How can I check my account balance?</h6>
            <div class="faq-content">
              <p>
                You can access your account information 24 hours, seven days a
                week over the Internet.
              </p>
            </div>
          </div>

          <div class="faq-item">
            <h6 class="faq-title">Is there any fee for withdrawal?</h6>
            <div class="faq-content">
              <p>NO FEE.</p>
            </div>
          </div>

          <div class="faq-item">
            <h6 class="faq-title">
              After I make a withdrawal request, when will the funds be
              available on my account?
            </h6>
            <div class="faq-content">
              <p>
                Withdrawals are manual and are processed within 1-24 hours, we
                have efficient staff on desk to ensure all payout are treated
                within 1-24 hour of request. However, we reserve the right of up
                to 24 hours to process any/every withdrawal request.
              </p>
            </div>
          </div>

          <div class="faq-item">
            <h6 class="faq-title">Can have more than 1 active deposit?</h6>
            <div class="faq-content">
              <p>Yes, you can but all transactions are handled separately.</p>
            </div>
          </div>

          <div class="faq-item">
            <h6 class="faq-title">
              How do you calculate the interest on my account?
            </h6>
            <div class="faq-content">
              <p>
                No Limit Investment offers three investment packages with fixed
                interest rate for you. The package you choose will set your
                investment term and interest structure. The plans includes most
                perfect features for all serious investors.
              </p>
            </div>
          </div>

          <div class="faq-item">
            <h6 class="faq-title">
              What are the minimum and maximum amounts to invest?
            </h6>
            <div class="faq-content">
              <p>
                The minimum is $10.00 for each investment plan and the maximum
                depends on the plan selected, visit our deposit page for a
                comprehensive plan.
              </p>
            </div>
          </div>

          <div class="faq-item">
            <h6 class="faq-title">
              Does my daily profit get paid directly into my account?
            </h6>
            <div class="faq-content">
              <p>
                Yes, profits are also accumulated in your No Limit Investment
                account for you to see as history.
              </p>
            </div>
          </div>

          <div class="faq-item">
            <h6 class="faq-title">
              What if I can&#039;t log into my account because I forgot my
              password?
            </h6>
            <div class="faq-content">
              <p>
                Locate the login page, on the login page there is option to
                retrieve your password incase you forget it
              </p>
            </div>
          </div>

          <div class="faq-item">
            <h6 class="faq-title">
              How can I change my e-mail address or password?
            </h6>
            <div class="faq-content">
              <p>
                Log into your No Limit Investment account and click on the
                "Account Information". You can change your e-mail address and
                password there.
              </p>
            </div>
          </div>

          <div class="faq-item">
            <h6 class="faq-title">How can I withdraw funds?</h6>
            <div class="faq-content">
              <p>
                Login to your account using your username and password and check
                the Withdraw section.
              </p>
            </div>
          </div>

          <div class="faq-item">
            <h6 class="faq-title">
              Who can become an investor with No Limit Investment?
            </h6>
            <div class="faq-content">
              <p>
                Only persons aged 18years old and above. You must agree with our
                terms.<br />
              </p>
            </div>
          </div>

          <div class="faq-item">
            <h6 class="faq-title">
              How can I invest with No Limit Investment?
            </h6>
            <div class="faq-content">
              <p>
                To make a bitcoin investment you must first become a member of
                No Limit Investment. Once you are signed up, you can make your
                first deposit. All deposits must be made through the Members
                Area. You can login using the member username and password you
                used to signup.
              </p>
            </div>
          </div>

          <div class="faq-item">
            <h6 class="faq-title">
              How long does it take for my deposit to be added to my account?
            </h6>
            <div class="faq-content">
              <p>
                Your account will be updated immediately your deposit gets
                approved,or after 3 confirmations on the blockchain network if
                you're making a bitcoin deposit.
              </p>
            </div>
          </div>

          <div class="faq-item">
            <h6 class="faq-title">How do I transfer fund for investment?</h6>
            <div class="faq-content">
              <p>
                We accept Blockchain, Coinbase, Luno, Coinpayments, and several
                other payment methods. Login your Members Area to make a deposit
                through the automatic gateway.<br /><strong></strong>
              </p>
            </div>
          </div>

          <div class="faq-item">
            <h6 class="faq-title">
              How do I open my No Limit Investment Account?
            </h6>
            <div class="faq-content">
              <p>
                It's quite easy and convenient. Click on Start Investing, fill
                in the registration form and submit. You will need to verify
                your contact information in order to activate your account.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ========Faq-Section Ends Here ========-->

<section class="team-section padding">
  <div class="container">
    <div class="section-header">
      <h2 class="title pt-5">Our Expert Team</h2>
      <p>
        We are a highly ambitious, motivated and experienced team of
        professionals willing to help our investors make stable profit.
      </p>
    </div>
    <div class="row justify-content-center mb-30-none">
      <div
        class="col-sm-10 col-md-6 col-lg-4 wow fadeInUp"
        data-wow-delay=".4s"
        style="
          visibility: visible;
          animation-delay: 0.4s;
          animation-name: fadeInUp;
        "
      >
        <div class="team-item">
          <div class="team-thumb">
            <a href="javascript:void(0)">
              <img
                src="/images/frontend/team/5e6be8a12c6331584130209.png"
                alt="team"
              />
            </a>
          </div>
          <div class="team-content">
            <h4 class="title mt-0">
              <a href="javascript:void(0)">Linda Soh</a>
            </h4>
            <span>No Limit Investment, CEO</span>
            <ul
              class="social-icons-team d-flex flex-wrap justify-content-center"
            >
              <li>
                <a href="https://www.facebook.com/"
                  ><i class="fab fa-facebook-f"></i
                ></a>
              </li>
              <li>
                <a href="https://twitter.com/"
                  ><i class="fab fa-twitter"></i
                ></a>
              </li>
              <li>
                <a href="https://www.pinterest.com/"
                  ><i class="fab fa-pinterest-p"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div
        class="col-sm-10 col-md-6 col-lg-4 wow fadeInUp"
        data-wow-delay=".4s"
        style="
          visibility: visible;
          animation-delay: 0.4s;
          animation-name: fadeInUp;
        "
      >
        <div class="team-item">
          <div class="team-thumb">
            <a href="javascript:void(0)">
              <img
                src="/images/frontend/team/5e6beb33b43ca1584130867.png"
                alt="team"
              />
            </a>
          </div>
          <div class="team-content">
            <h4 class="title mt-0">
              <a href="javascript:void(0)">Mark Reeves</a>
            </h4>
            <span>No Limit Investment, Vice President</span>
            <ul
              class="social-icons-team d-flex flex-wrap justify-content-center"
            >
              <li>
                <a href="https://www.facebook.com/"
                  ><i class="fab fa-facebook-f"></i
                ></a>
              </li>
              <li>
                <a href="https://twitter.com/"
                  ><i class="fab fa-twitter"></i
                ></a>
              </li>
              <li>
                <a href="https://www.pinterest.com/"
                  ><i class="fab fa-pinterest-p"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div
        class="col-sm-10 col-md-6 col-lg-4 wow fadeInUp"
        data-wow-delay=".4s"
        style="
          visibility: visible;
          animation-delay: 0.4s;
          animation-name: fadeInUp;
        "
      >
        <div class="team-item">
          <div class="team-thumb">
            <a href="javascript:void(0)">
              <img
                src="/images/frontend/team/5e6beca8299021584131240.png"
                alt="team"
              />
            </a>
          </div>
          <div class="team-content">
            <h4 class="title mt-0">
              <a href="javascript:void(0)">Ronnie Rogers</a>
            </h4>
            <span>Investment Payroll Officer</span>
            <ul
              class="social-icons-team d-flex flex-wrap justify-content-center"
            >
              <li>
                <a href="https://www.facebook.com/"
                  ><i class="fab fa-facebook-f"></i
                ></a>
              </li>
              <li>
                <a href="https://twitter.com/"
                  ><i class="fab fa-twitter"></i
                ></a>
              </li>
              <li>
                <a href="https://www.pinterest.com/"
                  ><i class="fab fa-pinterest-p"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br />
<br />
<br />
<!-- ========Client-Section Starts Here ========-->
<section class="client-section padding darkmode">
  <div class="container mw-lg-100">
    <div class="client-area">
      <div class="owl-thumbs" data-slider-id="1">
        <div class="owl-thumb-item">
          <div class="thumb wow zoomIn" data-wow-duration="1s">
            <img
              src="/images/frontend/testimonial/5e6bf31c400b51584132892.jpg"
              alt="client"
            />
          </div>
        </div>
        <div class="owl-thumb-item">
          <div class="thumb wow zoomIn" data-wow-duration="1s">
            <img
              src="/images/frontend/testimonial/5e6bf4fb5f63b1584133371.jpg"
              alt="client"
            />
          </div>
        </div>
        <div class="owl-thumb-item">
          <div class="thumb wow zoomIn" data-wow-duration="1s">
            <img
              src="/images/frontend/testimonial/5e6bf72e63b5d1584133934.jpg"
              alt="client"
            />
          </div>
        </div>
        <div class="owl-thumb-item">
          <div class="thumb wow zoomIn" data-wow-duration="1s">
            <img
              src="/images/frontend/testimonial/5e6bf95c5cb2d1584134492.jpg"
              alt="client"
            />
          </div>
        </div>
        <div class="owl-thumb-item">
          <div class="thumb wow zoomIn" data-wow-duration="1s">
            <img
              src="/images/frontend/testimonial/5e6bfa64d409f1584134756.jpg"
              alt="client"
            />
          </div>
        </div>
      </div>
      <div class="client-slider-section">
        <h2 class="title">Reviews from investors across the world</h2>
        <div class="client-slider owl-carousel owl-theme" data-slider-id="1">
          <div class="client-slide-item">
            <blockquote>
              I cannot recommend No Limit Investment enough for large and small
              investors, or individuals who are looking for a risk-free way to
              invest. Who amongst us doesn&#039;t want a little extra free cash?
            </blockquote>
            <div class="author">
              <div class="author-thumb">
                <img
                  src="/images/frontend/testimonial/5e6bf31c400b51584132892.jpg"
                  alt="client"
                />
              </div>
              <div class="author-content">
                <h6 class="sub-title">
                  <a href="javascript:void(0)">Simeon Carlos</a>
                </h6>
                <span>Realtor, Germany</span>
              </div>
            </div>
          </div>
          <div class="client-slide-item">
            <blockquote>
              No Limit Investments puts me at ease because I know my investments
              are safe and my daily profit is guaranteed. Thanks so much for a
              job VERY well done.
            </blockquote>
            <div class="author">
              <div class="author-thumb">
                <img
                  src="/images/frontend/testimonial/5e6bf4fb5f63b1584133371.jpg"
                  alt="client"
                />
              </div>
              <div class="author-content">
                <h6 class="sub-title">
                  <a href="javascript:void(0)">Anthonia Jakes</a>
                </h6>
                <span>Designer, Australia</span>
              </div>
            </div>
          </div>
          <div class="client-slide-item">
            <blockquote>
              Excellent! Really professionals and customer orientated. You have
              gone the extra mile for your investors and it is really
              appreciated.
            </blockquote>
            <div class="author">
              <div class="author-thumb">
                <img
                  src="/images/frontend/testimonial/5e6bf72e63b5d1584133934.jpg"
                  alt="client"
                />
              </div>
              <div class="author-content">
                <h6 class="sub-title">
                  <a href="javascript:void(0)">Amir Kulveer</a>
                </h6>
                <span>Product Manager, Dubai</span>
              </div>
            </div>
          </div>
          <div class="client-slide-item">
            <blockquote>
              I went from a net worth of $50,000 to $500,000 in less than 18
              months. I&#039;m looking forward to doing long-term business with
              No Limit Investment.
            </blockquote>
            <div class="author">
              <div class="author-thumb">
                <img
                  src="/images/frontend/testimonial/5e6bf95c5cb2d1584134492.jpg"
                  alt="client"
                />
              </div>
              <div class="author-content">
                <h6 class="sub-title">
                  <a href="javascript:void(0)">Ben Carlson</a>
                </h6>
                <span>Construction Worker, UK</span>
              </div>
            </div>
          </div>
          <div class="client-slide-item">
            <blockquote>
              I&#039;ve increased my monthly income by over $80k and recently
              acquired a million dollar investment. All thanks to the team of
              brilliant investors running this platform.
            </blockquote>
            <div class="author">
              <div class="author-thumb">
                <img
                  src="/images/frontend/testimonial/5e6bfa64d409f1584134756.jpg"
                  alt="client"
                />
              </div>
              <div class="author-content">
                <h6 class="sub-title">
                  <a href="javascript:void(0)">Lydia James</a>
                </h6>
                <span>Business Owner, Canada</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ========Client-Section Ends Here ========-->

<!-- ========Sponsor-Section Starte Here ========-->

<div class="sponsor-section padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-header">
          <h2 class="title pt-5">Payment Partners</h2>
          <p>
            Our trusted and reliable payment partners helping us process
            deposits from investors in more than 96 countries across the world.
          </p>
        </div>
      </div>
    </div>
    <div class="sponsors">
      <div class="owl-carousel owl-theme sponsor-slider">
        <div class="sponsor-thumb">
          <a href="javascript:void(0)">
            <img
              src="/images/gateway/5e6bfea409bab1584135844.png"
              alt="Perfect Money"
            />
          </a>
        </div>
      </div>
      <div class="owl-prev">
        <i class="fas fa-angle-left"></i>
      </div>
      <div class="owl-next">
        <i class="fas fa-angle-right"></i>
      </div>
    </div>
  </div>
</div>
<!-- ========Sponsor-Section Ends Here ========-->
<br />
<br />

<!-- ========Newslater-Section Starts Here ========-->
<section
  id="subscribe"
  class="newslater-section padding overlay-1 bg_img pos-rel"
  data-paroller-factor="0.10"
  data-paroller-factor-lg="-0.30"
  data-paroller-type="background"
  data-paroller-direction="vertical"
>
  <div class="star-1">
    <img src="/images/frontend/animation/01.png" alt="shape" />
  </div>

  <div class="circle-1">
    <img src="/images/frontend/animation/02.png" alt="shape" />
  </div>

  <div class="trop-1">
    <img src="/images/frontend/animation/03.png" alt="shape" />
  </div>

  <div class="star-2">
    <img src="/images/frontend/animation/04.png" alt="shape" />
  </div>

  <div
    class="circle-2"
    data-paroller-factor="-0.30"
    data-paroller-factor-lg="0.60"
    data-paroller-type="foreground"
    data-paroller-direction="horizontal"
  >
    <img src="/images/frontend/animation/05.png" alt="shape" />
  </div>

  <div class="star-3">
    <img src="/images/frontend/animation/06.png" alt="shape" />
  </div>

  <div class="container">
    <div class="newslater-wrapper">
      <div class="row">
        <div class="col-12">
          <div class="section-header">
            <h2 class="title pt-5">Submit Your Email</h2>
            <p>
              Subscribe to our weekly newsletter for information, tips, and
              investment secrets that will help you make more money and save for
              the future.
            </p>
          </div>
        </div>
      </div>
      <form
        class="subscribe-form pb-70"
        action="https://nolimitinvestment.site/subscribe"
        method="post"
      >
        <input
          type="hidden"
          name="_token"
          value="qlNo1XCSNsADj4rjIc1k9J7Zc7O3PEqlVs7lUGZl"
        />
        <div class="form-group">
          <input type="email" name="email" placeholder="Email Address" />
          <button type="submit">
            <i class="flaticon-send"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- ========Newslater-Section Ends Here ========-->

<!-- ========Blog-Section Starts Here ========-->
<section class="blog-section padding pos-rel pb-5">
  <div
    class="circle-2"
    data-paroller-factor="-0.30"
    data-paroller-factor-lg="0.60"
    data-paroller-type="foreground"
    data-paroller-direction="horizontal"
  >
    <img src="/images/frontend/animation/05.png" alt="shape" />
  </div>
  <div
    class="circle-2 four"
    data-paroller-factor="-0.1"
    data-paroller-factor-lg="0.30"
    data-paroller-type="foreground"
    data-paroller-direction="horizontal"
  >
    <img src="/images/frontend/animation/11.png" alt="shape" />
  </div>
  <div class="circle-1 three">
    <img src="/images/frontend/animation/12.png" alt="animation" />
  </div>
  <div class="trop-3">
    <img src="/images/frontend/animation/13.png" alt="animation" />
  </div>
  <div class="trop-4">
    <img src="/images/frontend/animation/14.png" alt="animation" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-header">
          <h2 class="title pt-5">Investment News &amp; Articles</h2>
          <p>
            We periodically publish insightful news and analysis that helps
            investors make crucial decisions.
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mb-30-none">
      <div class="col-md-6 col-xl-4 col-sm-10">
        <div class="post-item">
          <div class="post-thumb c-thumb">
            <a
              href="blog/details/billionaire-investor-mark-cuban-adds-to-his-twitter-stake-as-stock-market-craters/128.html"
            >
              <img
                src="/images/frontend/blog/5e6cce6c32d891584189036.jpg"
                alt="Billionaire investor Mark Cuban adds to his Twitter stake as stock market craters"
              />
            </a>
          </div>
          <div class="post-content">
            <h5 class="title">
              <a
                href="blog/details/billionaire-investor-mark-cuban-adds-to-his-twitter-stake-as-stock-market-craters/128.html"
              >
                Billionaire investor Mark Cuba...</a
              >
            </h5>
            <ul class="meta-post">
              <li>
                <a href="javascript:void(0)" class="cursor-text">
                  <i class="fas fa-calendar-day"></i><span>14-Mar-2020</span>
                </a>
              </li>
            </ul>
            <div class="entry-content">
              <p>
                Billionaire investor and entrepreneur Mark Cuban said Thursday
                that he’s adding to one of his favori...
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-4 col-sm-10">
        <div class="post-item">
          <div class="post-thumb c-thumb">
            <a
              href="blog/details/crypto-traders-explain-what-caused-the-bitcoin-price-plunge-to-3000s/127.html"
            >
              <img
                src="/images/frontend/blog/5e6ccb0eb63781584188174.jpg"
                alt="Crypto Traders Explain What Caused the Bitcoin Price Plunge to $3,000s"
              />
            </a>
          </div>
          <div class="post-content">
            <h5 class="title">
              <a
                href="blog/details/crypto-traders-explain-what-caused-the-bitcoin-price-plunge-to-3000s/127.html"
              >
                Crypto Traders Explain What Ca...</a
              >
            </h5>
            <ul class="meta-post">
              <li>
                <a href="javascript:void(0)" class="cursor-text">
                  <i class="fas fa-calendar-day"></i><span>14-Mar-2020</span>
                </a>
              </li>
            </ul>
            <div class="entry-content">
              <p>
                The Bitcoin price dropped to $3,600 overnight, marking Bitcoin’s
                biggest daily drop in the last seve...
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-4 col-sm-10">
        <div class="post-item">
          <div class="post-thumb c-thumb">
            <a
              href="blog/details/bitcoin-just-failed-the-coronavirus-test/108.html"
            >
              <img
                src="/images/frontend/blog/5e6cca39417eb1584187961.jpg"
                alt="Bitcoin Just Failed the Coronavirus Test"
              />
            </a>
          </div>
          <div class="post-content">
            <h5 class="title">
              <a
                href="blog/details/bitcoin-just-failed-the-coronavirus-test/108.html"
              >
                Bitcoin Just Failed the Corona...</a
              >
            </h5>
            <ul class="meta-post">
              <li>
                <a href="javascript:void(0)" class="cursor-text">
                  <i class="fas fa-calendar-day"></i><span>10-Feb-2020</span>
                </a>
              </li>
            </ul>
            <div class="entry-content">
              <p>
                Bitcoin has taken investors on a roller-coaster ride, and
                although its value has risen dramaticall...
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ========Blog-Section Ends Here ========-->
