<div id="contact" v-cloak>
  <!-- <div class="container-fluid pt-5 pb-5">
      <h5>This page sholud list all the blogs in the database</h5>
      <hr>
      {{allBlogs}}
  </div> -->
  <section class="page-header">
    <div class="elepsis header-trop">
      <img src="/images/elepsis.png" alt="profit" />
    </div>
    <div
      class="circle-2 header-trop"
      data-paroller-factor="-0.30"
      data-paroller-factor-lg="0.60"
      data-paroller-type="foreground"
      data-paroller-direction="horizontal"
    >
      <img src="/images/05.png" alt="shape" />
    </div>
    <div
      class="circle-3 header-trop"
      data-paroller-factor="0.10"
      data-paroller-factor-lg="-0.30"
      data-paroller-type="foreground"
      data-paroller-direction="horizontal"
    >
      <img src="/images/08.png" alt="shape" />
    </div>
    <div class="star-4 header-trop">
      <img src="/images/07.png" alt="shape" />
    </div>
    <div class="star-4 two header-trop">
      <img src="/images/07.png" alt="shape" />
    </div>
    <div class="star-5 header-trop">
      <img src="/images/07.png" alt="shape" />
    </div>
    <div class="circle-1 two header-trop">
      <img src="/images/10.png" alt="shape" />
    </div>
    <div class="trop-4 header-trop">
      <img src="/images/14.png" alt="animation" />
    </div>
    <div class="trop-3 header-trop">
      <img src="/images/13.png" alt="animation" />
    </div>
    <div class="circle-1 three header-trop">
      <img src="/images/12.png" alt="animation" />
    </div>
    <div
      class="circle-2 header-trop"
      data-paroller-factor="-0.30"
      data-paroller-factor-lg="0.60"
      data-paroller-type="foreground"
      data-paroller-direction="horizontal"
    >
      <img src="/images/05.png" alt="shape" />
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="page-header-content">
            <h2 class="title">Blog</h2>
            <ul class="breadcrumb">
              <li>
                <a href="/">Home</a>
              </li>
              <li>Blog</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="page-header-thumb wow slideInDown">
            <img src="/images/page-header-01.png" alt="page-header" />
            <div class="coin wow bounceInDown" data-wow-delay=".5s">
              <img src="/images/coin.png" alt="page-header" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="posts-container mx-auto px-3 my-5">
      <div class="card text-center" v-for="post in allBlogs">
        <div class="card-header">{{post.title}}</div>
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <img src="/images/5e28133aae42b1579684666.png" style="width: 100%;max-height:400px;" class="card-img-top" alt="...">

          <p class="card-text">
            {{post.content}}
          </p>
        </div>
        <div class="card-footer text-muted">2 days ago</div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
