<div id="contact" v-cloak>
  <div class="container-fluid pt-5 pb-5">
    <h5>This page should show only one blog post</h5>
    <hr />
    <strong> title: </strong> {{ blogPost.title }}
    <br />
    <strong> content: </strong> {{ blogPost.content }}
    <br />
    <strong> createdAt: </strong> {{ blogPost.createdAt }}
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
